fileFormatVersion: 2
guid: 4807dcedca2d0b14e970622d7ec6c1ba
timeCreated: 1765554487
licenseType: Free
NativeFormatImporter:
  externalObjects: {}
  mainObjectFileID: 11400000
  userData:
  assetBundleName:
  assetBundleVariant:
